@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  @apply bg-white dark:bg-dark-gray-4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  @apply bg-orange py-2.5 px-4 text-white font-normal text-base flex items-center justify-center gap-2 rounded cursor-pointer hover:bg-orange-light font-Roboto;
}

.calcHeight {
  height: calc(100vh - 72px);
}

.calcHeight2 {
  height: calc(100% - 51px);
}

.calcHeight3 {
  height: calc(100vh - 225px);
}

.preview {
  font-family: "Roboto Slab", serif;
}

.preview h1 {
  font-size: 32px;
  line-height: 42px;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h2 {
  font-size: 24px;
  line-height: 31px;
  @apply text-dark-gray mb-5 font-light dark:text-white;
}

.preview h3 {
  font-size: 28px;
  line-height: 37px;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h4 {
  font-size: 20px;
  line-height: 37px;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h5 {
  font-size: 16px;
  line-height: 21px;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h6 {
  font-size: 14px;
  line-height: 21px;
  @apply text-orange mb-5 font-bold dark:text-white;
}

.preview p {
  @apply text-sm font-normal text-light-gray-3 mb-5 dark:text-light-gray-2;
  line-height: 24px;
}

.preview li {
  line-height: 24px;
}

.preview ul {
  @apply px-4 text-sm font-normal text-light-gray-3 mb-5 dark:text-light-gray-2;
}

.preview ol {
  @apply list-decimal px-4 text-sm font-normal text-light-gray-3 mb-5 dark:text-light-gray-2;
}

.preview ul li::before {
  content: "\2022";
  color: #e46643;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.preview blockquote {
  @apply p-6 bg-light-gray-1/2 dark:bg-dark-gray-2 rounded border-l-4 border-orange mb-5;
}

.preview blockquote p {
  @apply text-sm text-dark-gray dark:text-white font-bold m-0;
}

.preview code {
  @apply text-dark-gray dark:text-white;
}

.preview pre {
  @apply p-6 bg-light-gray-1/2 rounded mb-5 dark:bg-dark-gray-2;
}

.preview pre p {
  @apply text-dark-gray font-normal text-sm;
}

.open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transform: translateX(250px);
  z-index: -1;
}

.openSidebar {
  left: 0;
}

.overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black opacity-50;
}

.menu {
}

.menu .item {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px;
}

.animate1 {
  transform: rotate(44deg);
  position: relative;
  top: 10px;
}

.animate2 {
  opacity: 0;
}

.animate3 {
  transform: rotate(-44deg);
  position: relative;
  bottom: 5px;
}
